body {
	margin: 0;
	font-family: Nunito;


}
section, header, footer{
    border: 1px solid red;

}

header {
	width: 1152px;
	margin: auto ;
    display: grid;
    grid-template-columns: 307px auto;
    position: relative;
    font-size: 16;
    font-weight: bold;

}

#bgPink {
	position: absolute;
	background: rgba(249, 189, 189, 1);
	width: 370px;
	height: 800px;
	border-bottom-left-radius: 120px;
	right: 0;
	top: 0;
	z-index: -1;
}

header img {
	margin-top: 23px;
	margin-left: 80px;
}
header nav {
	margin-top: 20px;
	margin-right: 28px;
	
}


header nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr) auto;
}
header nav ul li {
	text-align: center;
}

header nav ul li a {
	text-decoration: none;
	color: black;

}
								/* padding на 36пх убивает кнопку*/
#button {
	color: rgba(62, 63, 67, 1);
	background-color: rgba(249, 189, 189, 1);
	border: 1px solid;
	border-radius: 8px;
	padding: 9px 31px;
}

section {
	width: 1152px;
	margin: 0 auto;
    display: grid;
    position: relative;
    


}
										/*FIRST SECTION*/
section#home {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	position: relative;
}

section#home .txt{
	width: 504px;
	height: 376px;
	display: grid;
	grid-template-rows: repeat(3,1fr); 
	text-align:left;
	margin-top: 157px;
	margin-bottom: 206px;
	margin-left: 107px;
}

#areyou {
	font-size: 36px;
	margin: 0px;
	width: 472px;
}

#ThisIs {
	font-style: bold;
	font-weight: 600px;
	font-size: 72px;
	margin: 0px;
	width: 383px;
}

#expFur{
	padding: 0px 24px;
	border: 0px;
	border-radius: 8px;
	padding: -4px 24px;
	text-align:center;
	width: 175px;
	height: 50px;
	background: #DAA520;

}

#expFur p{
	font-style: bold;
	color: white;
	font-size: 16px;
}

section#home img{
	right: 24px;
	top: 86px;
	position: relative;

}

section#home img#bigFlower{
	position: absolute;
	top:320px;
	right: 220px;
	z-index: -1;

}
													/*SECOND SECTION*/

section#ABOUTUS  header{
	display: grid;
	grid-template-columns: 125px 215px 400px auto;
	position: relative;
}

section#ABOUTUS  header img{
	display: grid;
	margin-right: 0px;
	margin-top: 34px;
}

section#ABOUTUS  header h2{
	font-size: 36px;
	font-style: bold;
	margin-top: 24px; 
	margin-bottom: 0px;
}

section#ABOUTUS  header div.divider{
	border-bottom: 2px solid black;
	height: 1px;
	width: 400px;
	margin-top: 49px;
}

section#ABOUTUS  header p{
	font-size: 72px;
	opacity: .1;
	font-style: bold;
	margin-top: 0px; 
	margin-bottom: 0px;
}

section#ABOUTUS div.container{
	grid-template-columns: repeat(1,1fr);
	}

section#ABOUTUS div.LV{
	
	display: grid;
	grid-template-columns: 604px auto;
	grid-template-rows: 500px auto ;
	position: relative;
}

section#ABOUTUS div.LV img#V {
	
	position: relative;
	left: 138px;
	top: 150px;

}

section#ABOUTUS div.LV div.wood{
	position: relative;
	

}

section#ABOUTUS div.LV div.wood p#woo{
	position: relative;
	top:169px;
	width: 448px;
	height: 98px;
	margin: 0px;
	font-size: 36px;
}

section#ABOUTUS div.LV div.wood p#the{
	position: relative;
	top:180px;
	width: 404px;
	height: 66px;
	margin: 0px;
	font-size: 24px;
	font-style: bold;
}

section#ABOUTUS div.VL{
	display: grid;
	grid-template-columns: 754px auto;
	grid-template-rows: 400px auto;
	position: relative;

}

section#ABOUTUS div.VL div.custom{
	
	position: relative;
	left: 100px;
	width: 648px;
}

section#ABOUTUS div.VL div.custom p#cust{
	position: relative;
	top:87px;
	
	height: 49px;
	margin: 0px;
	font-size: 36px;
}

section#ABOUTUS div.VL div.custom p#Get{
	position: relative;
	top:100px;
	
	height: 66px;
	margin: 0px;
	font-size: 24px;
	font-style: bold;
}

section#ABOUTUS div.VL img{
	position: relative;
	left: 112px;
	top: 0px;
	margin: 0px;
}

.bgorange {
	position: absolute;
	background: #F7DEA6;
	width: 278px;
	height: 388px;
	left: 100px;
	top: 70px;
	border-bottom-left-radius: 120px;
	border-top-right-radius: 120px;
	z-index: -1;

}

section#ABOUTUS img#bigFlower2{
	position: absolute;
	width: 382px;
	height: 382px;
	left: 0px;
	top: 392px;
	z-index: -1;

}




